@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body{
    font-family:Roboto,Open Sans;
}

*{
    border:0px;
    margin:0px;
    padding:0px;
    
}



.header{
    width:100%;
    height: 120px;
    background-color:#FFFFFF;
    z-index:1;
    padding:36px 60px 0px 60px;
    position:fixed;
    margin:0px;
    

    
}

.menuicon{
    display:inline-block; 
    margin-left: 64px;
    margin-right:60px;

}

.logo{
    display:inline-block;
    
}

.text{
    padding:30px 70px;
    float:right;
    font-size: 18px;
    color:#373737;  
}
    

.rest{
    color:#373737;
    font: normal normal normal 18px Roboto;
}

.live{
    margin-left: 18px;
    padding-top:50px;
    color:#ff8B74;
    font-size:18px;
    font: normal normal normal 18px Roboto;
}



.banner{
    background-image:url("../Images/banner_bg.jpg");
    background-position: center;
    background-size: cover;
    height:840px;
    width:100%;
    padding-top:421px;
    padding-left:320px;
    font-size:40px;
    color: white;
    vertical-align: middle;

}

.mountain{
 
    margin-bottom: 40px;
    display:block;
    
}

.info1{
    text-align:left;
    color:#ffffff;
    font: normal normal normal 40px Roboto;
    display:block;
  
}


.explore{
    font-size:32;
    background-color:#FE8F79;
    border-radius: 24px;
    width: 200px;
    height: 48px;
    padding-left:54px;
    padding-right:53px;
    font: normal normal normal 25px Roboto;
    color:#ffffff;
    display:block;
    margin-top:46px;
    
  
   
}

.card{
    padding-left:60px; 
    margin-top:123px;
    margin-left:60px;
}

.card-info{
    background-image: url("../Images/trail_card_bg.png");
    width:433px;
    height:556px;
    display:block;
    display:inline-block;
    position: relative;
    margin-left:46px;
    
    
 
 
}

.card-info-bm{
    position: absolute; 
    right:10px;
   
}

.card-info-text1{
    position: absolute;  
    padding-top:194px; 
    padding-left: 56px; 
    color:#ffffff;
    font: normal normal bold 22px Roboto;

}

.card-info-text2{
    position: absolute;  
    padding-top:194px; 
    padding-left: 98px; 
    color:#ffffff;
    font: normal normal bold 22px Roboto;
   
}

.card-info-text3{
    position: absolute; 
    padding-top:285px; 
    padding-left: 98px; 
    color:#ffffff;
    font: normal normal 300 18px Open Sans;
    
}

.card-info-text4{
    position: absolute;  
    padding-top:438px; 
    padding-left: 105px; 
    font-size: 15px; 
    color:#ffffff;
    letter-spacing: 1px;
    font: normal normal normal 15px Roboto;
}



.card-photo{
    width: 36px;
    height:37px;
    float:right;
    padding-right: 10px;
}


.card-last-info{
    position: absolute;
    width:433px;
    height:556px;
    display:block;
    display:inline-block;
    margin-left:46px;
   

}

.card-last-info-text1{
    position: absolute;  
    padding-top:194px;   
    color:#373737;
    font: normal normal bold 22px Roboto;
    


}


.card-last-info-text2{
    position: absolute; 
    padding-top:285px;  
    color:#373737;
    font: normal normal 300 18px Open Sans;


}


/* 
.subscribe{

    margin-top:205px;
  
    height:48px;
    width: 680px;
    background-color:#ffffff;
    border:1px solid #FE8F79;
    
    text-align: center;
    
}

.subscribe-text{
    border-radius:24px;
    width:680px;
    height:48px;
    color:#151D41;
    padding-left:26px;
    font: normal normal normal 18px Roboto;
} */



/* .btn-subscribe{
    float:right;
    padding:10px 42px 11px 42px;
    background-color:#FE8F79;
    border-radius: 24px;
    font: normal normal normal 22px Roboto;
    color:#ffffff;

} */


.subscribe{

    margin-top:205px;
    text-align: center;
}

.subscribe-text{
    border-radius:24px;
    width:680px;
    height:48px;
    color:#373737;
    border:1px solid #FE8F79;
    padding-left:26px;
    font: normal normal normal 18px Roboto;
}

.subscribe-btn{
    position: relative;
    right:205px;
    padding:10px 44px 12px 42px;
    background-color:#FE8F79;
    border-radius: 24px;
    font: normal normal normal 22px Roboto;
    color:#ffffff;

}


.subscribe-btn{
    position: relative;
    right:-px;
}

.comment-section{
    margin-top: 50px;
    margin-left:320px;
}


.read1{   
    font: normal normal normal 22px Roboto;
}

.read2{
    font: normal normal normal 22px Roboto;
    margin-top: 77px;

}
.month{
    font: normal normal normal 18px Open Sans;
}

.comment-text1{
    width:532px; 
    height: 136px; 
    margin-top:15px;
    font: normal normal bold 48px Roboto;

}

.horizontal-line{
    border: 1px solid #D1D1D1; 
    width: 517px; 
}


.comment-text2{
    margin-top: 21px; 
    width:517px;
    height:95px;
    color:#373737;
    font: normal normal normal 18px Open Sans;
}

.comment-text3{
    font: normal normal bold 18px Open Sans;

}



.commenta{
    margin-top:13px;
    padding-top:0px; 
    
}



.comment1{
  
    height:356px;
    width: 433px;
    background-color: black;
    display:block;
    display:inline-block;
    margin-top:0px;
    overflow:hidden;
}

.comment2{
    margin-left: 69px;
    width:532px;
    height: 356px;
    background-size: cover;
    display:block;
    display:inline-block;
    overflow:hidden;
    font-size:18px;
   
   
}

.circle{
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
}


.news{
    margin-top: 100px; 
    text-align: center;  
    color:#FF937F;
    font: normal normal normal 22px Roboto;
}

.horizontal-line1{
    border: 1px solid #587431; 
    margin-top:105px; 
    margin-left:61px; 
    width:1800px; 
    height: 0px; 
    opacity:1;
}

.SMS{
    margin-top:100px;
    text-align: center;
    
}
.contact{
    color:#FF8B74; 
    font: normal normal medium 22px Roboto;
}


.send-msg{
    font-size:22px;
    font: normal normal bold 40px Roboto;
    margin-top:89px; 
}

.form1{
    margin-top:98px;
}

.form2{

    margin-top:50px;
}

.form3{
    margin-top:50px; 
   
}


.form-property{
    border:1px solid #151D41;
    padding-top: 10px;  
    padding-left:26px; 
    width:615px; 
    height:69px;
    color:#151D41;
    font: normal normal normal 18px Roboto;
}

.form-property1{
    width:1320px;
    height:205px;
    border:1px solid #151D41;
    color:#151D41;
    padding-left:26px;
    font: normal normal normal 18px Roboto;
}

.form-property2{
    background-color: #FE8F79;
    font-size:22px;
    color:white;
    padding:19px 68px 16px 68px;


}

.form-btn{
    margin-top:81px;
    font: normal normal medium 22px Roboto;
}

.join{
    padding-left: 300px;  
    color:#373737; 
    padding-top:105px;
    font: normal normal normal 26px Roboto;

}

.join1{
    margin-top:64px;
    position: relative;
}

.join2{
   
    margin-top:63px;
}



.team1{
    background-image: url("../Images/member_01.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
  
}

.team2{
    background-image: url("../Images/member_02.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
    margin-left: 53px;
 
}


.team3{
    background-image: url("../Images/member_03.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
    margin-left: 53px;
 
}

.team4{
    background-image: url("../Images/member_04.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
    margin-left: 53px;
 
}

.team5{
    background-image: url("../Images/member_05.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
 
 
}

.team-info{
    background-image: url("../Images/trail_card_bg.png");
    width:280px;
    height:280px;
    display:block;
    display:inline-block;
    margin-left:53px;
 
 
}

.team-info-bm{
    position: absolute; 
    display: inline-block; 
    display: block; 
    padding-left: 230px;
}

.team-info-text{
    position: absolute; 
    display: inline-block; 
    display: block; 
    padding-top:82px; 
    padding-left: 70px; 
    color:white;
    font: normal normal 600 22px Open Sans;
    text-align: center;
}

.team-info-text1{
    position: absolute; 
    display: inline-block; 
    display: block; 
    padding-top:180px; 
    padding-left: 100px;  
    color:white;
    font: normal normal normal 18px Roboto;
}

.photo{
    width: 36px;
    height:37px;
    float:right;
    padding-right: 10px;
}

.team-info1{

    width:296px;
    height:214px;
    display:block;
    display:inline-block;
    margin-top: 74px;
    margin-left: 53px;
    position: absolute;
}

.team-text1-info1
{
    color:#373737;
    font: normal normal 600 22px Open Sans;
}


.team-text2-info1{
    color:#373737; 
    margin-top:25px;
    font: normal normal 300 18px Open Sans;
}

.footer{
    width:100%;
    height:280px;
    background-image: url("../Images/trail_card_bg.png");
    background-size: cover;
    margin-top: 256px;
    display:block;
    display: inline-block;
    overflow-x: hidden;
    
 

}

.footer-logo{
    padding-top:87px;
    padding-left: 60px;
    float: left;
    
}

.footer-contact{
    font-size:22px;
    color:#ffffff;
    padding-top:87px;
    font: normal normal 600 22px Open Sans;
    float: left;
    margin-left: 378px;
}

.ctel{
    padding-top:5px;
    font: normal normal normal 18px Open Sans;
}

.cemail{
    padding-top: 5px;
    font: normal normal normal 18px Open Sans;
}

.footer-address{
    margin-left:131px;
    padding-top: 110px;
    color:#ffffff;
    font: normal normal normal 18px Open Sans;
    float: left;
}

.add1{
    padding-top: 5px;
    font: normal normal normal 18px Open Sans;
}


.add2{
    padding-top: 5px;
    font: normal normal normal 18px Open Sans;
}

.footer-link{
    margin-left:234px;
    padding-top:85px;
    float: left;
    color:#ffffff;

}

.link1{

    font-size: 22px;
    font: normal normal 600 22px Open Sans;

}

.link2{
    font-size: 18px; 
    padding-top: 5px;
    font: italic normal normal 18px Open Sans;

}

.main{
    overflow-x: hidden;
}